@import "../../global.scss";

.top-btn {
  background-color: $main-red;
  color: $white-bg;
  border: none;
  cursor: pointer;
  z-index: 6;
  position: fixed;
  bottom: 0.5rem;
  right: 1.2rem;

  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
