$main-black: #010103;
$main-red: #ff5a5f;
$white-bg: #ffffff;
$gray-bg: #f0f4f7;
$dark-gray-bg: #4a5257;

//breakpoints
$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
